.a {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: black;
  background-color: transparent;
}

/* mouse over link */
a:hover {
  color: rgb(119, 255, 7);
}

/* selected link */
a:active {
  color: blue;
}
